.stat {
  background-color: #3D3D3D;
  min-width: 200px;
  padding: 20px 0;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.stat h2 {
  margin: 0;
  font-size: 32px;
}

.stat-blue {
  color: #008FCC;
}

.stat-red {
  color: #F25674;
}

.stat span {
  font-size: 18px;
}


@media only screen and (min-width: 600px) {
  .stat {
    min-width: 300px;
    min-height: 150px;
  }

  .stat h2 {
    font-size: 54px;
  }

  .stat span {
    font-size: 24px;
  }
}