/* TODO: Move other colors here */

:root {
  --green: #0DC885;
  --grey: #424242;
  --danger: #ff0037;
  --white: #C4C4C4;
}

.green-bg {
  background-color: var(--green);
}

.grey-bg {
  background-color: var(--grey);
}

.danger-bg {
  background-color: var(--danger);
}

.danger-text {
  color: var(--danger);
}